<header>
  <nav class="navbar navbar-expand-sm px-2">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"
        ><img src="/imgs/JM Logo.png" class="logo-navbar" alt=""
      /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item nav-item-underline navbar-link">
            <a class="nav-link" aria-current="home" href="/">Inicio</a>
          </li>
          <li class="nav-item nav-item-underline">
            <a class="nav-link" href="/candidato/home">Portal do estudante</a>
          </li>
          <li class="nav-item nav-item-underline">
            <a class="nav-link" href="/representante/home">Portal da empresa</a>
          </li>
          <li class="nav-item">
            <!--TODO Levar para a página de login generica -->
            <a href="#" role="button" class="btn btn-primary px-4">Acessar</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
