<div class="div-home">
  <h1 class="fw-bold">O Match com o trabalho dos seus sonhos esta aqui!</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id.</p>
  <div>
    <button type="button">
      <span></span>Ja tem um login?<br />Clique aqui para entrar
    </button>
    <button type="button">
      <span></span>Não tem um login?<br />Cadastre-se aqui
    </button>
  </div>
</div>

<style>
  body {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
      url("imgs/bussines.jpg");
  }
</style>
