<div class="div-loginG mt-5">
  <h1 class="fw-bold m-4 text-center">Quem está acessando?</h1>

  <div class="row gx-3 gy-2">
    <div class="col col-12 col-md-6">
      <a
        type="button"
        class="btn btn-secondary px-5 d-flex align-items-center justify-content-center"
        href="/candidato/login"
        ><span>Candidato</span>
      </a>
    </div>
    <div class="col col-12 col-md-6">
      <a
        type="button"
        class="btn btn-secondary px-5 d-flex align-items-center justify-content-center"
        href="/representante/login"
        ><span>Representante</span>
      </a>
    </div>
  </div>
</div>
