:root {
  --cor-neutra-60: #eff4ee;
  --cor-dark-neutra-60: #0d0a0b;
  --cor-primaria-30: #460f9e;
  --cor-primaria-30-dark: #310b6e;
  --cor-call-for-action-10: #05aed5;

  --cadastrado: #ffc107;
  --selecionado: #198754;
  --eliminado: #dc3545;
  --desistiu: #6f29b1;
}

header {
  background-color: var(--cor-neutra-60) !important;
}

body {
  background-color: var(--cor-neutra-60) !important;
}

.div,
.h1 {
  background-color: rgba(155, 237, 255, 0.25);
  border: 1px solid rgba(155, 237, 255, 1);
}

/*A B C D E F G H I J K L M N O P Q R S T U V W X Y Z*/

.banner-em-construcao {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.btn {
  border-radius: 20px;
}

.btn-primary {
  background-color: var(--cor-call-for-action-10);
  border-color: var(--cor-call-for-action-10);
}

.btn-primary:hover {
  background-color: var(--cor-primaria-30);
  border-color: var(--cor-primaria-30);
}

.btn-secondary {
  background-color: var(--cor-primaria-30);
  border-color: var(--cor-primaria-30);
}

.btn-secondary:hover {
  background-color: var(--cor-primaria-30-dark);
  border-color: var(--cor-primaria-30-dark);
}

.candidatos-list-item {
  border-top: 1px solid #dee2e6;
  padding: 0.5rem 1rem;
}

.candidatos-list-item:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.container-block {
  background-color: var(--cor-neutra-60);
  border-radius: 12px;
  border: 0px none rgba(0, 0, 0, 0);
  padding: 1rem;
}

.container-block-table-vagas {
  background-color: var(--cor-neutra-60);
  border-radius: 12px;
  border: 0px none rgba(0, 0, 0, 0) !important;
  padding: 1rem 0;

  height: 500px;
  overflow: auto;
}

.container-block-table-vagas > h1 {
  padding: 0 1rem;
}

.div-home {
  display: grid;
  place-items: center;
  max-width: 600px;
  margin: 0 auto;

  color: var(--cor-neutra-60);
}

.div-home h1 {
  font-size: 70px;
}

.div-loginG {
  display: grid;
  place-items: center;
  max-width: 600px;
  margin: 0 auto;
}

.div-loginG h1 {
  font-size: 70px;
}

.dot {
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.dot-cadastrado {
  background-color: var(--cadastrado);
}

.dot-selecionado {
  background-color: var(--selecionado);
}

.dot-eliminado {
  background-color: var(--eliminado);
}

.dot-desistiu {
  background-color: var(--desistiu);
}

.fit-content-w {
  width: fit-content;
}

.fit-content-h {
  height: fit-content;
}

.glass-look {
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  border-right: 1px solid rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.id-pill {
  background-color: #198754;
  color: #fff;
  border-radius: 1000px;
  border: 0px none rgba(0, 0, 0, 0);
  padding: 1rem;
}

.img-em-construcao {
  max-height: 300px;
}

.logo-navbar {
  height: 4rem;
}

.main-box {
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
  max-width: 1274px;
}

@media (min-width: 400px) {
  .main-box {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media (min-width: 600px) {
  .main-box {
    padding-left: 66px;
    padding-right: 66px;
  }
}

@media (min-width: 840px) {
  .main-box {
    padding-left: 125px;
    padding-right: 125px;
  }
}

/* .navbar {
  position: fixed;
  width: 100%;
} */

.nav-item-underline {
  position: relative;
}

@media (min-width: 576px) {
  .nav-item-underline::after {
    content: "";
    height: 3px;
    width: 0%;
    position: absolute;
    background: var(--cor-primaria-30);
    transition: 0.5s;
  }

  .nav-item-underline:hover::after {
    width: 100%;
  }
}

.pagina-em-contrucao {
  background-color: var(--gold);
}

.scroll-bar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scroll-bar-hide::-webkit-scrollbar {
  display: none;
}

.vagas-list-item {
  border-top: 1px solid #dee2e6;
  padding: 0.5rem 1rem;
  background-color: #00000000;
}

.vagas-list-item:hover {
  background-color: rgba(0, 0, 0, 0.075);
}
