<div class="div-home mt-5">
  <h1 class="fw-bold m-4 text-center">
    O Match com o funcionario que você procura esta aqui!
  </h1>

  <div class="row gx-3 gy-2">
    <div class="col col-12 col-md-6">
      <a
        type="button"
        class="btn btn-secondary px-5 d-flex align-items-center justify-content-center"
        href="/representante/login"
        ><span>Ja&nbsp;tem&nbsp;um&nbsp;login? <br />Clique&nbsp;aqui</span>
      </a>
    </div>
    <div class="col col-12 col-md-6">
      <a
        type="button"
        class="btn btn-secondary px-5 d-flex align-items-center justify-content-center"
        href="/representante/cadastro-empresa"
        ><span
          >Não&nbsp;tem&nbsp;um&nbsp;login? <br />Cadastre-se&nbsp;aqui</span
        >
      </a>
    </div>
  </div>
</div>

<style>
  body {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
      url("../imgs/bussines.jpg");
  }
</style>
